@import '../../components/vars.scss';

.gronic-aboutSection {
  text-align: center;
}

.gronic-aboutSubSection {
  text-align: center;
  padding: 5%;
  background: center center/cover no-repeat;
  .gronic-aboutHead {
    padding: 3%;
    font-size: 2em;
    font-family: $f1;
    color: $g1;
  }
  .gronic-aboutP {
    font-size: 1.5em;
    padding: 3%;
    font-family: $f1;
    color: #ffffff;
    line-height: 1.5em;
  }
  .hasBackground {
    font-size: 1.5em;
    padding: 3%;
    font-family: $f1;
    color: #000000;
    line-height: 1.5em;
  }
}

.gronic-aboutTitle {
  text-align: center;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 6rem;
  font-size: 2em;
  font-family: $f1;
  color: $g4;
}
.gronic-underline {
  height: 3px;
  width: 20%;
  background-color: $g1;
  text-align: center;
  margin: auto;
  margin-bottom: 5%;
}

.gronic-team {
  display: grid;
  @media only screen and (min-width: $w4) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media only screen and (max-width: $w4) {
    grid-template-columns: 1fr;
  }
  .gronic-teamMember {
    width: 100%;
    padding: 5%;
    .memberName {
      display: block;
      font-family: $f2;
      font-size: 2em;
      color: $g1;
      padding: 1%;
    }
    .memberPosition {
      display: block;
      font-family: $f1;
      font-size: 1em;
    }
  }
}
.teamSection {
  padding: 5%;
}

.advisors {
  padding-top: 2%;
  .title {
    padding: 2%;
    font-size: 2em;
    font-family: $f2;
    text-transform: capitalize;
  }
  .advisorName {
    padding: 2%;
    font-size: 2em;
    font-family: $f2;
    text-transform: capitalize;
    color: $g1;
  }
}
