@import '../../components/vars.scss';

.gronic-solutionsSection {
  padding: 2%;
  text-align: center;
}
.solutions-page {
  position: relative;
  top: -5rem;
}
.section1 {
  position: relative;
  text-align: center;
  margin: auto;
  @media only screen and (max-width: $w5) {
    padding-top: 8rem;
  }
  background: center center/cover no-repeat;

  .section1-overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    padding-top: 8%;
    padding-bottom: 3%;
  }
  h1 {
    @media only screen and (max-width: $w5) {
      font-size: 2.5em;
    }
    margin: auto;
    text-align: center;
    font-size: 4em;
    letter-spacing: 5px;
    font-family: $f2;
    color: $g1;
  }
  p {
    @media only screen and (max-width: $w5) {
      font-size: 1em;
    }
    font-size: 1em;
    font-family: $f1;
    line-height: 1.5em;
    color: #ffffff;
  }
}

.section2 {
  position: relative;
  h1 {

    text-align: center;
    font-size: 1.5em;
    @media only screen and (max-width: $w5) {
      font-size: 1.2em;
      letter-spacing: 2px;
    }
    letter-spacing: 5px;
    font-family: $f2;
  }
  .solutionsTable {
    display: grid;
    width: 85%;
    margin-left: 120px;
    grid-template-columns: .9fr  ;
    @media only screen and (max-width: $w5) {
      grid-template-columns: 1fr;
    }
    
    .tableItem {
      padding: 0% 0 ;
      display: grid;
      grid-template-columns: .5fr 1fr 1fr;
      grid-column-gap:0px;
      border-bottom: 1px solid rgba(85, 87, 89, 0.2);

      .title {
        @media only screen and (max-width: $w5) {
          font-size: 1.5em;
        }
        font-size: 1.5em;
        font-family: $f2;
        .icon {
          height: 50px;
          margin: 5%;
        }
      }
      .conventionalHd{
        display: flex;
        height: 40px;
        justify-content: center;
        padding: 5%;
        font-size: 1.3em;
        font-family: $f1;
        background-color: #555759;
        color: #FFFFFF;
        align-items: center;
        margin-top: 10px;
        
      }
      .conventionalEn {
        display: flex;
        justify-content: space-between;
        padding: 5%;
        padding-top: 8%;
        font-size: 1em;
        font-family: $f1;
        background-color: #E4E5E5;
        color: #000000;
      
        
      }
      .conventionalAr {
        display: flex;
        justify-content: space-between;
        padding: 5%;
        padding-top: 8%;
        font-size: 1em;
        font-family: $f1;
        background-color: #E4E5E5;
        color: #000000;
        flex-direction: row-reverse;
        align-items: center;
        
        
      }
     
      .gronicHd {
        height: 40px;
        display:flex;
        justify-content: center;
        padding: 5%;
        font-size: 1.5em;
        font-family: $f1;
        color: #000000;
        align-items: center;
        background-color: #82BC00;
        color: #FFFFFF;
        margin-top: 10px;

      

      }
      .gronic {
        display:flex;
        justify-content: space-between;
        padding: 5%;
        font-size: 1em;
        font-family: $f1;
        background-color: $g5;
        color: #000000;
        align-items: center;

      }
      .gronicAr {
        display:flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 5%;
        font-size: 1em;
        font-family: $f1;
        background-color: $g5;
        color: #000000;
      }
      .button {
        font-size: 18px;

        padding: 10px;
        color: #FCFCFC;
        cursor: pointer;
        background-color: #555759;
        border-radius: 50%;
      }
      
      .button2 {
        font-size: 18px;

        padding: 10px;
        color: #FCFCFC;
        cursor: pointer;
        background-color: #82BC00;
        border-radius: 50%;
      }
      
      
      
     
      .card {
        display: flex;
        justify-content: center;
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5;
       border-width: 4;
       border: 1px solid #82bc00;

        position:absolute;
        top: 50%;
        left: 50%;
        margin-left: -400px; // 1/2 width
        margin-top: -40px; // 1/2 height
        font-size: 20px;
        
      }
      
     
      
    }
  }
}
.section3 {
  padding: 5% 13%;
  background-color: $g3;
  h1 {
    margin: auto;
    text-align: center;
    font-size: 1.8em;
    @media only screen and (max-width: $w5) {
      font-size: 1.2em;
      letter-spacing: 2px;
    }
    letter-spacing: 5px;
    font-family: $f2;
  }
  p {
    font-size: 1.1em;
    @media only screen and (max-width: $w5) {
      font-size: 0.9em;
    }
    font-family: $f1;
    line-height: 1.5em;
  }
}

.section4,
.section5,
.section6 {
  h1 {
    margin: auto;
    text-align: center;
    font-size: 3em;
    @media only screen and (max-width: $w5) {
      font-size: 1.8em;
    }
    letter-spacing: 5px;
    font-family: $f2;
  }
}
.subSections-container {
  display: grid;
  height: 350px;
  grid-template-columns: 1fr 1fr 1fr;
  @media only screen and (max-width: $w5) {
    grid-template-columns: 1fr;
    height: 100%;
  }
  overflow: hidden;
  .sol-subsection {
    @media only screen and (min-width: $w5) {
      background: center center/cover no-repeat;
      width: 96%;
      height: 460px;
      padding: 15%;
      margin-top: -50px;
    }
    position: relative;
    @media only screen and (min-width: $w5) {
      left: 7px;
      // -webkit-transform: rotate(10deg);
      // transform: rotate(10deg);
      border-right: 2px #ffffff;
      h2 {
        // transform: rotate(-10deg);
        color: #ffffff;
        font-size: 1.5em;
        font-family: $f2;
        opacity: 0;
      }
      p {
        // transform: rotate(-10deg);
        color: #ffffff;
        font-family: $f1;
        font-size: 0.8em;
        margin-right: 5%;
        margin-left: 10%;
        width: 90%;
        height: 48%;
        opacity: 0;
      }
      button {
        opacity: 0;
        // transform: rotate(-10deg);
        font-family: $f2;
        border: none;
        background-color: #ffffff;
        color: #000000;
        border-radius: 25px;
        padding: 2%;
        padding-right: 6%;
        padding-left: 6%;
        position: relative;
        margin-left: 40%;
        margin-right: 20%;
        width: 40%;
      }
      button:hover {
        // transform: rotate(-10deg);
        font-family: $f2;
        border: none;
        background-color: $g1;
        color: #ffffff;
        transition: 1s;
        border-radius: 25px;
        padding: 2%;
        padding-right: 6%;
        padding-left: 6%;
        position: relative;
        margin-left: 40%;
        margin-right: 20%;
        width: 40%;
      }
    }
    @media only screen and (max-width: $w5) {
      padding: 5%;
      margin: 2%;
      background: center center/cover no-repeat;
      h2 {
        color: #ffffff;
        font-size: 2em;
        font-family: $f2;
      }
      p {
        color: #ffffff;
        font-family: $f1;
      }
      button {
        opacity: 1;
        transition: 1s;
        font-family: $f2;
        border: none;
        background-color: #ffffff;
        color: #000000;
        border-radius: 25px;
        padding: 2%;
        padding-right: 6%;
        padding-left: 6%;
        position: relative;
        width: 40%;
      }
      .sol-subsection-indicator {
        opacity: 0;
        font-size: 1.5rem;
        // transform: rotate(-10deg);
        width: 60%;
        margin: auto;
        padding: 3%;
        height: 50%;
        font-family: $f2;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
      }
    }
    .sol-subsection-indicator {
      @media only screen and (max-width: $w5) {
        opacity: 0;
      }
      opacity: 1;
      font-size: 1.5rem;
      // transform: rotate(-10deg);
      width: 60%;
      margin: auto;
      padding: 3%;
      height: 50%;
      font-family: $f2;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }
  }
  .sol-subsection:hover {
    @media only screen and (min-width: $w5) {
      width: 96%;
      height: 450px;
      padding: 15%;
      margin-top: -50px;
    }
    transition: 1s;
    background-size: cover;
    position: relative;
    @media only screen and (min-width: $w5) {
      left: 7px;
      // -webkit-transform: rotate(10deg);
      // transform: rotate(10deg);
      border-right: 2px #ffffff;
      h2 {
        opacity: 1;
        transition: 1s;
        // transform: rotate(-10deg);
        color: #ffffff;
        font-size: 1.5em;
        font-family: $f2;
      }
      p {
        // transform: rotate(-10deg);
        opacity: 1;
        color: #ffffff;
        font-family: $f1;
        font-size: 0.9em;
        margin: auto;
        width: 100%;
        height: 55%;
      }
      button {
        // transform: rotate(-10deg);
        opacity: 1;
        transition: 1s;
        font-family: $f2;
        border: none;
        background-color: #ffffff;
        color: #000000;
        border-radius: 25px;
        padding: 2%;
        padding-right: 6%;
        padding-left: 6%;
        margin: auto;
        width: 40%;
      }
      button:hover {
        // transform: rotate(-10deg);
        cursor: pointer;
        font-family: $f2;
        border: none;
        background-color: $g1;
        color: #ffffff;
        transition: 1s;
        border-radius: 25px;
        padding: 2%;
        padding-right: 6%;
        padding-left: 6%;
        position: relative;
        margin: auto;
        width: 40%;
      }
    }
    .sol-subsection-indicator {
      opacity: 0;
      font-size: 2em;
      width: 60%;
      margin: auto;
      // transform: rotate(-10deg);
      padding: 3%;
      height: 50%;
      font-family: $f2;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }

    @media only screen and (max-width: $w5) {
      padding: 5%;
      margin: 2%;
      h2 {
        color: #ffffff;
        font-size: 2em;
        font-family: $f2;
      }
      p {
        color: #ffffff;
        font-family: $f1;
      }
      button {
        opacity: 1;
        transition: 1s;
        font-family: $f2;
        border: none;
        background-color: #ffffff;
        color: #000000;
        border-radius: 25px;
        padding: 2%;
        padding-right: 6%;
        padding-left: 6%;
        position: relative;
        width: 40%;
      }
      .sol-subsection-indicator {
        opacity: 0;
        font-size: 2em;
        width: 60%;
        margin: auto;
        // transform: rotate(-10deg);
        padding: 3%;
        height: 50%;
        font-family: $f2;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
      }
    }
  }
}
.section-6-container {
  margin: auto;
  background: linear-gradient(rgba(158, 190, 57, 0.8)),
    url('/icons/images/image4.png');
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 10%;
  padding-top: 10%;
  p {
    padding: 0%;
    color: #ffffff;
    font-family: $f1;
    font-size: 1.5em;
    line-height: 1.2em;
  }
  .gronic-btn {
    background: #ffffff;
    font-family: $f1;
    font-size: 1em;
    color: $g1;
    font-weight: 800;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 25px;
  }
}
