@import "../../components/vars.scss";

.gronic-solutionsSection {
  padding: 2%;
  text-align: center;
}

.section1 {
  text-align: center;
  margin: auto;
  padding: 5%;
  background-image: url("/icons/images/image4.png");
  h1 {
    margin: auto;
    text-align: center;
    font-size: 5em;
    letter-spacing: 5px;
    font-family: $f2;
    color: $g1;
  }
  p {
    font-size: 2em;
    font-family: $f1;
    line-height: 1.5em;
    color: #ffffff;
  }
}

.section2 {
  h1 {
    margin: auto;
    text-align: center;
    font-size: 2em;
    letter-spacing: 5px;
    font-family: $f2;
  }
  .solutionsTable {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    .tableItem {
      padding: 2%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 2px;
      .title {
        font-size: 2em;
        font-family: $f2;
      }
      .conventional {
        padding: 5%;
        font-size: 1em;
        font-family: $f1;
        background-color: $g5;
        color: #000000;
      }
      .gronic {
        padding: 5%;
        font-size: 1em;
        font-family: $f1;
        background-color: $g5;
        color: #000000;
      }
    }
  }
}
.section3 {
  padding: 5%;
  background-color: $g3;
  h1 {
    margin: auto;
    text-align: center;
    font-size: 2em;
    letter-spacing: 5px;
    font-family: $f2;
  }
  p {
    font-size: 1.5em;
    font-family: $f1;
    line-height: 1.5em;
  }
}

.section4, .section5, .section6 {
  h1 {
    margin: auto;
    text-align: center;
    font-size: 4em;
    letter-spacing: 5px;
    font-family: $f2;
  }
}
.subSections-container {
  display: grid;
  height: 350;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
  .sol-subsection {
    height: 450px;
    width: 96%;
    padding-top: 15%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 15%;
    margin-left: -35px;
    margin-top: -50px;
    margin-bottom: -50px;
    background: url('/icons/images/image4.png');
    background-size: cover;
    position: relative;
    left: 7px;
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    border-right: 2px #ffffff;

    h2 {
      transform: rotate(-10deg);
      color: #ffffff;
      font-size: 3em;
      font-family: $f2;
    }
    p {
      transform: rotate(-10deg);
      color: #ffffff;
      font-family: $f1;
    }
  }
}
.section-6-container {
    margin: auto;
    margin: 5%;
    background: linear-gradient(rgba(158,190,57,0.8)), url('/icons/images/image4.png');
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 10%;
    padding-top: 10%;
    p {
        padding: 0%;
        color: #ffffff;
      font-family: $f1;
      font-size: 2em;
      line-height: 1.2em;
    }
    .gronic-btn {
        background: #ffffff;
        font-family: $f1;
        font-size: 1.2em;
        color: $g1;
        font-weight: 800;
        padding-right: 2%;
        padding-left: 2%;
        border-radius: 25px;
    }
}
