@import '../vars.scss';

.gronic-heroSlider {
  padding: 1rem;
  width: 100%;
  @media only screen and (max-width: $w5) {
    height: 450px;
  }
  height: 650px;
  position: relative;

  .gronic-heroContainer {
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
  }

  .gronic-heroImage {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 0.6;
    border-radius: 25px;
    position: absolute;
    left: 0;
    object-fit: fit;
    opacity: 1;
    @include gronic-shadowed;
  }

  .gronic-heroImageTint {
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
  }

  .gronic-sliderHead {
    white-space: pre-line;
    z-index: 2;
    font-size: 1em;
    color: #ffffff;
    letter-spacing: 2px;
    position: relative;
    text-align: center;
    padding-top: 10%;
    font-family: 'Teko', sans-serif;

    font-size: 3.5em;
    @media only screen and (max-width: $w5) {
      padding-top: 30%;
      padding-left: 5%;
      padding-right: 5%;
      font-size: 2.2em;
      height: 130px;
    }
  }

  .gronic-sliderP {
    @media only screen and (max-width: $w5) {
      visibility: hidden;
      display: none;
    }
    z-index: 2;
    position: relative;
    color: #ffffff;
    font-size: 1.5em;
    padding-top: 2%;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1em;
  }

  .gronic-sliderButton {
    z-index: 2;
    background: #ffffff;
    color: #368541;
    font-weight: 800;
    font-size: 1.2em;
    position: relative;
    top: 100px;
    padding-left: 1.5%;
    padding-right: 1.5%;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
    @media only screen and (max-width: $w5) {
      padding-left: 4%;
      padding-right: 4%;
      padding-top: 2%;
      padding-bottom: 2%;
      top: 170px;
    }
    letter-spacing: 2px;
    border-radius: 20px;
    font-family: 'Cairo', sans-serif;
  }

  .gronic-sliderNavr {
    background: transparent;
    z-index: 3;
    border: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    font-size: 4em;
    font-family: 'Cairo', sans-serif;
    color: #ffffff;
    opacity: 0.5;

    @media only screen and (max-width: $w5) {
      font-size: 3rem;
    }
  }

  .gronic-sliderNavr:hover {
    opacity: 1;
    transition: opacity 1s;
    cursor: pointer;
  }

  .gronic-sliderNavr:focus {
    outline: 0px;
  }

  .gronic-sliderNavl {
    background: transparent;
    z-index: 3;
    border: none;
    position: absolute;
    left: 0px;
    top: 50%;
    font-size: 4em;
    font-family: 'Cairo', sans-serif;
    color: #ffffff;
    opacity: 0.5;
    cursor: pointer;
    @media only screen and (max-width: $w5) {
      font-size: 3rem;
    }
  }

  .gronic-sliderNavl:focus {
    opacity: 1;
    outline: 0px;
  }

  .gronic-sliderNavl:hover {
    opacity: 1;
    transition: opacity 1s;
  }

  .gronic-sliderIndicatorGroup {
    width: 10%;
    text-align: center;
    bottom: -25%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    right: 0;
  }

  .sliderIndicator {
    position: relative;
    z-index: 3;
    height: 5px;
    width: 80%;
    background-color: #ffffff;
    border-radius: 25px;
    cursor: pointer;
  }

  .active {
    background-color: $g1;
  }
}
