@import "../vars.scss";

.gronic-heroSlider {
  padding: 1rem;
  width: 100%;
  height: 650px;
  .gronic-heroContainer {
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
  }
  .gronic-heroImage {
    z-index: 0.6;
    border-radius: 25px;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: fit;
    opacity: 1;
    @include gronic-shadowed;
  }
  .gronic-heroImageTint {
    border-radius: 25px;
    @include gronic-linearGrad($g2);
  }
  .gronic-sliderHead {
    white-space: pre-line;
    z-index: 2;
    font-size: 2em;
    color: #ffffff;
    letter-spacing: 2px;
    position: relative;
    text-align: center;
    padding-top: 10%;
    font-family: "Teko", sans-serif;
    font-size: 4em;
  }
  .gronic-sliderP {
    z-index: 2;
    position: relative;
    color: #ffffff;
    font-size: 2em;
    padding-top: 2%;
    font-family: "Cairo", sans-serif;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1em;
  }
  .gronic-sliderButton {
    z-index: 2;
    background: #ffffff;
    color: $g2;
    font-weight: 800;
    font-size: 1em;
    position: relative;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    letter-spacing: 2px;
    border-radius: 20px;
    font-family: "Cairo", sans-serif;
  }
  .gronic-sliderNavr {
    background: transparent;
    z-index: 3;
    border: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    font-size: 3em;
    font-family: "Cairo", sans-serif;
    color: #ffffff;
    opacity: 0.5;
  }
  .gronic-sliderNavr:hover {
    opacity: 1;
    transition: opacity 1s;
  }
 
  .gronic-sliderNavr:focus {
    outline: 0px;
  }
 
  .gronic-sliderNavl {
    background: transparent;
    z-index: 3;
    border: none;
    position: absolute;
    left: 0px;
    top: 50%;
    font-size: 3em;
    font-family: "Cairo", sans-serif;
    color: #ffffff;
    opacity: 0.5;
  }
.gronic-sliderNavl:focus {
    opacity: 1;
    outline: 0px;
  }
  .gronic-sliderNavl:hover {
    opacity: 1;
    transition: opacity 1s;
  }
.gronic-sliderIndicatorGroup{
    width: 10%;
    text-align: center;
    position: relative;
    margin-top: 7%;
    margin-left: 45%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
}
  .sliderIndicator {
      position: relative;
      z-index: 3;
      height: 5px;
      width: 80%;
      background-color: #ffffff;
      border-radius: 25px;
  }
  .active {
      background-color: $g1;
  }
}
