@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');

$g1: #bfbb39; // used for green buttons;

@mixin gronic-shadowed {
    box-shadow:0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12)
}

// Screens
$w1: 320px;
$w2: 480px;
$w3: 600px;
$w4: 768px;
$w5: 900px;
$w6: 1024px;
$w7: 1200px;
