@import '../../components/vars.scss';
.contact-page {
  position: relative;
  top: -5rem;
}
.gronic-contact-section-1 {
  z-index: 3;
  background-image: url('/icons/images/image6.png');
  top: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5% 0;
  text-align: center;
  @media only screen and (max-width: $w5) {
    padding-top: 11rem;
  }
  h1 {
    padding-top: 19%;
    font-size: 2.5em;
    font-family: $f1;
    color: #ffffff;
  }
  p {
    font-family: $f1;
    font-size: 1.5em;
    line-height: 1em;
    color: #ffffff;
  }
  .social-img {
    margin: 1.5%;
  }
}

.gronic-contact-section-2 {
  padding: 5% 0;
  position: relative;
  text-align: center;
  h1 {
    font-size: 1.5em;
    font-family: $f1;
  }
  span {
    font-size: 1.5em;
    font-family: $f1;
    color: $g1;
  }
  .contact-form-container {
    .form-group-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      @media only screen and (max-width: $w5) {
        grid-template-columns: 1fr;
      }
      label {
        padding: 1%;
      }
      input {
        width: 100%;
        font-size: 1.5em;
        background-color: #dddddd;
        padding: 1%;
        padding-left: 1rem;
        outline: none;
        margin: 0.5rem 0;
      }
      textarea {
        width: 100%;
        font-size: 1.5em;
        background-color: #dddddd;
        outline: none;
      }
      .form-group {
        padding: 5%;
      }
    }
    
    .form-group.padding-area {
      padding: 2.5%;
    }

    font-family: $f1;
    // .form-group {
    //   padding-right: 3%;
    //   padding-left: 3%;
    // }
    text-align: left;
    input,
    textarea {
      display: block;
      border-radius: 25px;
      border: 0;
      width: 100%;
      font-size: 1.5em;
      background-color: #dddddd;
      outline: none;
      padding-left: 1rem;
    }
    .form-group-submit {
      text-align: center;
      button {
        border: 0;
        background-color: $g1;
        color: #ffffff;
        font-family: $f1;
        font-size: 1em;
        margin-top: 2%;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 1%;
        padding-bottom: 1%;
        @media only screen and (max-width: $w5) {
          padding-top: 2%;
          padding-bottom: 2%;
          padding-right: 4%;
          padding-left: 4%;
        }
        border-radius: 30px;
        cursor: pointer;
      }
    }
  }
}
